<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive Admin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../nav.ejs') %>
    <%- include('../sidenav.ejs') %>
    <section class="admin-main admin">

        <div class="main-section-wrapper">

                <table>
                    <thead class="fixed-title">
                        <% if(listType === 'artwork'){ %>
                            <tr class="artwork">
                                <th>NO.</th>
                                <th>IMG</th>
                                <th>Title</th>
                                <th>Artist</th>
                                <th>Date</th>
                                <th>size</th>
                                <th>Medium</th>
                                <th>Price</th>
                                <th>Current Location</th>
                                <th>located time</th>
                                <th>sale</th>
                                <th>Certification</th>
                                <th>관리</th>      
                             
                            </tr>
                    <% }else if(listType === 'artist'){ %>
                            <tr class="artist">
                                <th>NO.</th>
                                <th>IMG</th>
                                <th>Name</th>
                                <th>작품등록</th>
                                <th>Birth</th>
                                <th>tel</th>
                                <th>email</th>
                                <th>homepage</th>
                                <th>등록날짜</th>               
                                <th>관리</th>               
            
                            </tr>
                    <% }else if(listType === 'user') {%>
                        <tr class="user">
                            <th>NO.</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Register Date</th>          
                             
                        </tr>
                    <%}%>

                    </thead>
                    <tbody>
                        <% if (listType === 'artwork') { %>
                            <% data.map((artwork, i) => { %>

                            
                                <tr class="artwork">
                                    <td><%= i + 1 %></td>
                                    <td>
                                        <div class="img-wrapper artwork">
                                            <% 
                                                // 기본 이미지 경로 설정
                                                let imageSrc = '/img/plus.png'; 
                                                
                                                // 이미지 배열에서 첫 번째로 존재하는 이미지 찾기
                                                for (let j = 0; j < 5; j++) {
                                                    if (artwork.imgUrl[j]) {
                                                        imageSrc = artwork.imgUrl[j];
                                                        break;
                                                    }
                                                }
                                            %>
                                            <img src="<%= imageSrc %>" alt="">
                                        </div>
                                    </td>
                      
                                    <td><%= artwork.name[0] %></td>
                                    <% artwork.artistData.forEach(item => { %>

                                        <td class="artistPage" onclick="location.href='/admin/detail/artist/<%= item._id %>'"><%= item.artistName[0] %> 
                                            ( <p><%= item.artistName[1] %></p> ) 
                                         
                                        </td>

                                    <% }) %>

                                    <td><%= artwork.registerDate %></td>
                                    <td>
                                        <%= artwork.size[0] %>(H)
                                        <%= artwork.size[1] %>(W)
                                        <% if(artwork.size[2]){ %>
                                            <%= artwork.size[2] %>(D)
                                        <% } %>
                                  
                                    </td>
                                    <td><%= artwork.medium %></td>
                                    <td><%= artwork.price%></td>
                         
                                    <% if (artwork.location.length === 0) { %>
                                        <td>-</td>
                                    <% }else { %>
                                        <td><%= artwork.location[0].road %></td>
                                    <% } %>

                                    <% if (artwork.location.length === 0) { %>
                                        <td>-</td>
                                    <% }else { %>
                                        <td><%= artwork.location[0].date %></td>
                                    <% } %>
                                    <td><%= artwork.sale %></td>
                                    <td><%= artwork.certification %></td>
                                    <td class="manageBtn">
                                        <button onclick="location.href='/admin/edit/artwork/<%=artwork._id %>'">수정 </button>
                                        <button onclick="location.href='/admin/delete/artwork/<%=artwork._id %>'">삭제</button>
                                    </td> 
                             
                                </tr>
                           <% }) %>
                       <%}else if(listType === 'artist') {%>
                            <% data.map((artist, i) => { %>
                                <tr class="artist">
                                    <td><%= i + 1 %></td>
                                    <td class="artistPage" onclick="location.href='/admin/detail/artist/<%= artist._id %>'">
                                        <div class="img-wrapper artist">
                                            <img class="artist-img" src="<%= artist.imgUrl %>" alt="">
                                        </div>
                                    </td>
                                    <td><%= artist.artistName[0] %> <span>(<%= artist.artistName[1] %>)</span> </td>
                                    <td class="addArtwork"><button onclick="location.href='/admin/write/artwork/<%=artist._id %>'">작품등록</button></td>
                                    <td><%= artist.artistBirth %></td>
                                    <td><%= artist.artistTel %></td>
                                    <td><%= artist.artistEmail %></td>
                                    <td>데이터3</td>
                                    <td><%= artist.registerDate %></td>
                                    <td class="manageBtn">
                                        <button>수정</button>
                                        <button>삭제</button>
                                    </td>                             
                                </tr>
                            <% }) %>
                       <%}else if(listType === 'user') {%>

                            <% data.map((user, i) => { %>
                                <tr class="user">
                                    <td><%= i + 1 %></td>
                                    <td><%= user.username %></td>
                                    <td><%= user.realname %></td>
                                    <td><%= user.class %></td>
                                    <td>데이터3</td>
                                    
                                </tr>
                            <% }) %>
                       <%}%>

                        




                    </tbody>
                </table>
           
        </div>

    </section>
   
</body>


</html>