<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive - Artist Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../nav.ejs') %>
    <%- include('../sidenav.ejs') %>

    <section class="artist-write admin">
     
        <form id="artistForm" action="<%= data ? '/edit/artist' : '/write/artist' %>" method="POST" enctype="multipart/form-data">
            <div class="img">       
                <label for="file">
                    <div class="preview-img-wrapper">
                        <% if(data){ %>
                            <% data.forEach((item)=>{ %>
                                <img src="<%= item.imgUrl ? item.imgUrl : '/img/user.svg' %>"  id="previewImg" name="" alt="">    
                                <input type="hidden" name="oldImg"  value="<%= item.imgUrl %>">
                            <% }) %>
                        <% }else{ %>
                            <img src="/img/user.svg"  id="previewImg" name="" alt="">    
                        <% } %>
                    </div>
          
                    <input name="artistimg" class="file" id="file" type="file" accept="image/*" onchange="previewImage(event)">
                    <img src="/img/plus.png" class="plus"  alt="">
                </label>              
            </div>
            <div class="info-form info">
                <% if (data && data.length > 0) { %>
                    <% data.forEach((item) => { %>
                        <input type="hidden" name="register_staff" value="<%= item.register_staff ? item.register_staff : result.realname %>">
                        <input type="hidden" name="modify_staff" value="<%= item.register_staff ? result.realname : '' %>">
                    <% }) %>
                <% } else { %>
                    <input type="hidden" name="register_staff" value="<%= result.realname %>">
                    <input type="hidden" name="modify_staff" value="">
                <% } %>

                <h2>Artist Info <span>/ 작가 정보</span></h2>
                <div class="wp">
                    <label for="artistnameKr">
                        <p>작가명  <span>* 필수 입력값</span></p>
                        <% if(data){ %>
                            <%  data.forEach((item) =>{ %>
                                <input type="text" name="artistnameKr" id="artistnameKr" value="<%= item.artistName[0]  %>">
                                <input type="hidden" name="registerDate" id="registerDate" value="<%= item.registerDate  %>">
                                
                            <% }) %>
                        <% }else{ %>
                            <input type="text" name="artistnameKr" id="artistnameKr" value="" placeholder="국문이름을 입력하세요">
                        <% } %>
                    </label>
                    <label for="artistnameEng">
                 
                        <% if(data){ %>
                            <%  data.forEach((item) =>{ %>
                                <input type="text" name="artistnameEng" id="artistnameEng" value="<%= item.artistName[1]  %>">
                            <% }) %>
                        <% }else{ %>
                            <input type="text" name="artistnameEng" id="artistnameEng" placeholder="영문름을 입력하세요" >
                        <% } %>
                    
                    </label>
                    <label for="artistBirth">
                        <p>생년월일</p>   
                        <% if(data){ %>
                            <%  data.forEach((item) =>{ %>
                                <input type="date" name="artistBirth" id="artistBirth" value="<%= item.artistBirth %>" >
                            <% }) %>
                        <% }else{ %>
                            <input type="date" name="artistBirth" id="artistBirth" >
                        <% } %>
    
    
                        
                    </label>
                    <label for="artistEmail">
                        <p>연락처 (email)</p> 
                        <% if(data){ %>
                            <%  data.forEach((item) =>{ %>
                                <input type="email" name="artistEmail" id="artistEmail" value="<%= item.artistEmail %>">
                            <% }) %>
                        <% }else{ %>
                            <input type="email" name="artistEmail" id="artistEmail" >
                        <% } %>                   
                    </label>
    
                    <label for="artistTel">
                        <p>연락처 (tel)</p> 
                        <% if(data){ %>
                            <%  data.forEach((item) =>{ %>
                                <input type="number" name="artistTel" id="artistTel" value="<%= item.artistTel %>">
                            <% }) %>
                        <% }else{ %>
                            <input type="number" name="artistTel" id="artistTel"> 
                        <% } %>
                                      
                    </label>
                    <label for="artistHome">
                        <p>홈페이지 (homepage)</p> 
                        <% if(data){ %>
                            <%  data.forEach((item) =>{ %>
                                <input type="text" name="artistHome" id="artistHome" value="<%= item.artistHome %>">
                            <% }) %>
                        <% }else{ %>
                            <input type="text" name="artistHome" id="artistHome">  
                        <% } %>
                    </label>

                </div>
               
            </div>
            <div class="info-form career">
                <h2>Artist Career <span>/ 학력및 경력 추가</span></h2>   
                <div class="education wrapper">
                    <% if(data){ %>
                        <% data.forEach((item)=>{ %>
                            <% if(item.education && item.education.length > 0){ %>
                                <% item.education.forEach((edu)=>{ %>
                                    <div class="createWrapper">
                                        <div class="solo-ex-input">
                                            <label for="soloExDate">
                                                학력
                                                <input type="date" name="EducationDate" id="soloExDate" value="<%= edu.date %>">
                                            </label>
                                            <label for="soloExTitle">
                                                학교이름
                                                <input type="text" name="EducationTitle" id="soloExTitle" value="<%= edu.school %>">
                                            </label>
                                            <button type="button" class="input-delete"><img src="/img/x.png" alt=""></button>
                                        </div>
                                    </div>
                                <% })  %>
                            <% } %>
                        <% }) %>
                    <% }else{ %>

                    <% } %>


                    <button class="addInput"><img src="/img/plus.png" alt=""> 학력 추가</button>
                </div>


                <div class="solo-ex wrapper">

                    <% if(data){ %>
                        <% data.forEach((item)=>{ %>
                            <% if(item.soloEx && item.soloEx.length > 0){ %>
                                <% item.soloEx.forEach((soloEx)=>{ %>
                                    <div class="createWrapper">
    
                                        <div class="solo-ex-input">
                                            <label for="soloExDate">
                                                개인전 
                                                <input type="date" name="soloExDate" id="soloExDate" value="<%= soloEx.date %>">
                                            </label>
                                            <label for="soloExTitle">
                                                전시 타이틀
                                                <input type="text" name="soloExTitle" id="soloExTitle" value="<%= soloEx.exTitle %>">
                                            </label>
                                            <button type="button" class="input-delete"><img src="/img/x.png" alt=""></button>
                                        </div>
    
                                    </div>
    
                                <% })  %>
                            <%}%>
                           

                        <% }) %>

                    <% }else{ %>

                    <% } %>

                    <button class="addInput"><img src="/img/plus.png" alt=""> 개인전 경력추가</button>
                </div>


                <div class="group-ex wrapper">
                    
                    <% if(data){ %>
                        <% data.forEach((item)=>{ %>
                            <% if(item.groupEx && item.groupEx.length > 0){ %>
                                <% item.groupEx.forEach((groupEx)=>{ %>
                                    <div class="createWrapper">
                                        <div class="group-ex-input">
                                            <label for="groupExDate">
                                                단체전 
                                                <input type="date" name="groupExDate" id="groupExDate" value="<%= groupEx.date %>">
                                            </label>
                                            <label for="groupExTitle">
                                                전시 타이틀
                                                <input type="text" name="groupExTitle" id="groupExTitle" value="<%= groupEx.exTitle %>">
                                            </label>
                                             <button type="button" class="input-delete"><img src="/img/x.png" alt=""></button>
                                        </div>
                                    </div>
                                <% })  %>
                            <% } %>
                            
                        <% }) %>

                    <% }else{ %>

                    <% } %>
                    <button class="addInput"><img src="/img/plus.png" alt="">그룹전 경력추가</button>
                </div>
                <div class="award wrapper">
                    <% if (data) { %>
                        <% data.forEach((item) => { %>
                            <% if (item.award && item.award.length > 0) { %>
                                <% item.award.forEach((award) => { %>
                                    <div class="createWrapper">
                                        <div class="award-input">
                                            <label for="awardExDate">
                                                수상
                                                <input type="date" name="awardExDate" id="awardExDate" value="<%= award.date %>">
                                            </label>
                                            <label for="awardTitle">
                                                수상 타이틀
                                                <input type="text" name="awardTitle" id="awardTitle" value="<%= award.exTitle %>">
                                            </label>
                                            <button type="button" class="input-delete"><img src="/img/x.png" alt=""></button>
                                        </div>
                                    </div>
                                <% }) %>
                            <% } %>
                        <% }) %>
                    <% } %>
                    <button class="addInput"><img src="/img/plus.png" alt="">수상 경력추가</button>
                </div>

            </div>
            <div class="info-form description">
                <h2>description</h2>   
                <label for="artistNote">
                    아티스트 노트
                    <textarea name="artistNote" id="artistNote"></textarea>      
                </label>
                <label for="artistDescription">
                    메모
                    <textarea name="artistDescription" id="artistDescription"></textarea>      
                </label>
               
            </div>
            <% if(data){ %>
                <% data.forEach((item)=>{ %>
                    <input type="hidden" name="artistId" value="<%=  item._id %>">
                <% }) %>
            
            <% } %>

            <button type="submit" class="submit-btn" >
                <% if(data){ %>
                    수정하기
                <% }else{ %>
                    등록하기
                <% } %>

                <span> ! 입력값을 제대로 입력해 주세요.</span>
            </button>

        </form>
    </section>

    <script>



        const addBtn = document.querySelectorAll('.addInput');
        
        // 인풋 추가 버튼
        addBtn.forEach(item =>{
           


            item.addEventListener('click', function(e){

                e.preventDefault();
                // item의 부모값 
                const inputWrapper = item.parentNode;
                const inputWrapperClass = inputWrapper.className;
                let newInputGroup = document.createElement('div');
                
                

                
                newInputGroup.classList.add('createWrapper')

                if(inputWrapperClass === "education wrapper"){
                    newInputGroup.innerHTML =
                    `
                        <div class="edu-ex-input">
                            <label for="soloExDate">
                                학력(년도)
                                <input type="date" name="EducationDate[]" id="soloExDate">
                                
                            </label>
                            <label for="soloExTitle">
                                학교이름
                                <input type="text" name="EducationTitle[]" id="soloExTitle" placeholder="학교명 기재">
                            </label>
                            <button type="button" class="input-delete"><img src="/img/x.png" alt=""></button>
                        </div>
                    `
                }
                else if(inputWrapperClass === "solo-ex wrapper"){
                    newInputGroup.innerHTML = 
                    `
                        <div class="solo-ex-input">
                            <label for="soloExDate">
                                개인전(년도)
                                <input type="date" name="soloExDate[]" id="soloExDate">
                            </label>
                            <label for="soloExTitle">
                                전시 타이틀
                                <input type="text" name="soloExTitle[]" id="soloExTitle" placeholder="개인전 타이틀 기재">
                            </label>
                            <button type="button" class="input-delete"><img src="/img/x.png" alt=""></button>
                        </div>
                    `

           
                }
                else if(inputWrapperClass === "group-ex wrapper"){
                    newInputGroup.innerHTML = 
                    `
                        <div class="group-ex-input">
                            <label for="groupExDate">
                                단체전(년도)
                                <input type="date" name="groupExDate[]" id="groupExDate">
                            </label>
                            <label for="groupExTitle">
                                전시 타이틀
                                <input type="text" name="groupExTitle[]" id="groupExTitle" placeholder="그룹전 타이틀 기재">
                            </label>
                             <button type="button" class="input-delete"><img src="/img/x.png" alt=""></button>
                        </div>
                    `
                }
                else if(inputWrapperClass === "award wrapper"){
                    newInputGroup.innerHTML = 
                    `
                        <div class="award-input">
                            <label for="awardExDate">
                                수상(년도)
                                <input type="date" name="awardExDate[]" id="awardExDate">
                            </label>
                            <label for="awardTitle">
                                수상 타이틀
                                <input type="text" name="awardTitle[]" id="awardTitle" placeholder="수상명 기재">
                            </label>
                             <button type="button" class="input-delete"><img src="/img/x.png" alt=""></button>
                        </div>
                    `
                }


             
                inputWrapper.insertBefore(newInputGroup, item);
              
          

            })
        })

        //이벤트 델리게이션을 사용하여 삭제 버튼 클릭 
        const deleteBtnWrapper = document.querySelector('.artist-write'); // 전체 form을 감싸는 상위 요소 선택
        deleteBtnWrapper.addEventListener('click', function(e){
            if(e.target && e.target.closest('.input-delete')){
                const deleteInputBtn = e.target.closest('.input-delete');
                const inputGroup = deleteInputBtn.closest('.createWrapper');
                if(inputGroup){
                    inputGroup.remove(); // .wrapper가 아닌 삭제할 개별 입력 그룹만 제거
                }
            }
        });

        //텍스트 길이 만큼 height 조정
        const textarea = document.querySelectorAll('textarea');
        textarea.forEach(item=>{
            item.addEventListener('input', function(){
                item.style.height = 'auto'
                item.style.height = this.scrollHeight+'px'
            })
        })

        //이미지 미리보기 
        function previewImage(event){
            const file = event.target.files[0];
            const reader = new FileReader(); // FileReader 객체 생성
            reader.onload = function(){
                const previewImg= document.getElementById('previewImg')
                previewImg.src = reader.result;
      
            }
            if (file) {
                reader.readAsDataURL(file); // 파일을 Data URL로 읽어옵니다.
            }
            console.log(reader.result)
        }

        // 서버에서 오류 메세지 받아오기
        document.getElementById('artistForm').addEventListener('submit', async function(e){ //폼에 무언가를 제출시 이벤트가 트리거

            e.preventDefault(); 
            const form = this; // 현재 폼요소 변수에 저장
            const formData = new FormData(form); // 폼의 데이터를 formData객체로 변환 
            const actionUrl = form.getAttribute('action'); // 폼의 action속성에 지정된 url을 가져옴 

            try{
                const response = await fetch(actionUrl,{ //fetch를 사용하여 비동기로 서버에 데이터를 전송함 
                    method : 'POST',
                    body: formData
                });
                if(!response.ok){ 
                    // 서버의 응답상태가 성공적이지 않으면 / 응답 데이터를 response.json()으로 처리함 
                    // 에러 데이터를 가져와 줌
                    const responseData = await response.json();
                    console.log('Error:', responseData.errors);
                    displayErrors(responseData.errors) // 에러 처리 함수 호출
                    
                }else{
                    const responseData = await response.json(); 
                    if(responseData.pageFilter){
                        window.location.href = `/admin/list/artist/${responseData.pageFilter}`
                    }
                    if(responseData.edit === 'edit'){
                        const artistId = document.querySelector('input[name="artistId"]').value;
                            
                         window.location.href = `/admin/detail/artist/${artistId}`
                    }
                
              
                }
            }catch(error){
                console.error('Error' , error)
            }

        });

        function displayErrors(errors) {
    // 모든 input 필드를 초기화
    const inputFields = document.querySelectorAll('input');
    inputFields.forEach(input => {
        input.style.borderColor = ''; 
        input.style.backgroundColor = '';
    });

    // 각 에러에 대해 처리
    errors.forEach(error => {
        console.log(error);  // 에러 정보 확인
        const inputElements = document.querySelectorAll(`[name="${error.path}"]`); // 배열 name을 처리할 경우
        
        // 동적 필드의 name이 배열일 경우 처리
        if (inputElements.length === 0) {
            const arrayInputElements = document.querySelectorAll(`[name="${error.path}[]"]`);
            arrayInputElements.forEach(inputElement => {
                applyErrorStyles(inputElement, error.msg);
            });
        }

        document.querySelector('.submit-btn').classList.add('fail');

        // NodeList로 반환된 inputElements에 대해 각각 처리
        inputElements.forEach(inputElement => {
            if (inputElement) {
                applyErrorStyles(inputElement, error.msg);
            }
        });
    });
}

// 에러 스타일 적용과 이벤트 리스너 등록을 담당하는 함수
function applyErrorStyles(inputElement, errorMsg) {
    inputElement.style.borderColor = 'red';
    inputElement.style.backgroundColor = '#ffe6e6';
    inputElement.setAttribute('placeholder', errorMsg);

    // 값이 입력되면 스타일을 원래대로 되돌리는 이벤트 리스너 추가
    inputElement.addEventListener('input', function() {
        inputElement.style.borderColor = '#c0bdbd'; // 테두리 색을 원래대로
        inputElement.style.backgroundColor = '#fff'; // 배경색을 원래대로
    });
}
    </script>


</body>
</html>