<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('./nav.ejs') %>
    <%- include('./sidenav.ejs') %>

    <section class="artist-detail admin">
        <% artistData.forEach((item)=>{ %>
         
            <div class="artist-wrapper">
                <div class="artist-info">
                    <div class="artist-pic">
                        <img src="<%= item.imgUrl ? item.imgUrl : '/img/user.svg'  %>" alt="">
                    </div>
                    <div class="text-wrapper">
                        <div class="top">
                            <div class="name">
                                <div class="name-wp">
                                    <h2><%= item.artistName[0] %></h2>
                                    <p><%= item.artistName[1] %></p>
                                </div>
        
                                <button onclick="location.href='/admin/write/artist/<%= item._id  %>'">작가 수정</button>
                                <button onclick="location.href='/admin/write/artwork/<%= item._id  %>'">+ 작품 등록</button>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="left">
                                <div class="wp">
                                    <p class="tag">Birth</p>
                                    <% if(item.artistBirth && item.artistBirth.length > 0){ %>
                                        <p><%= item.artistBirth %></p>
                                    <% }else{ %>
                                        <p class="no-data-label">Data none</p>
                                    <% } %>
                                   
                                </div>
                         
                                <div class="wp">
                                    <p class="tag">Tel</p>
                                    <% if(item.artistTel && item.artistTel.length > 0){ %>
                                        <a href=""><%= item.artistTel %></a>
                                    <% }else{ %>
                                        <p class="no-data-label">Data none</p>
                                    <% } %>
                                 
                                </div>
                                <div class="wp">
                                    <p class="tag">Email</p>
                                    <% if(item.artistEmail && item.artistEmail.length > 0){ %>
                                        <a href=""><%= item.artistEmail %></a>
                                    <% }else{ %>
                                        <p class="no-data-label">Data none</p>
                                    <% } %>
                          
                                </div>
                                <div class="wp">
                                    <p class="tag">Home page</p>
                                    <% if(item.artistHome && item.artistHome.length > 0){ %>
                                        <a href=""><%= item.artistHome %></a>
                                    <% }else{ %>
                                        <p class="no-data-label">Data none</p>
                                    <% } %>
                                   
                                </div>

                            </div>
                            <div class="right">
                                <div class="wp">
                                    <p class="tag">최초 등록일</p>
                                    <% if(item.registerDate && item.registerDate.length > 0){ %>
                                        <a href=""><%= item.registerDate %></a>
                                    <% }else{ %>
                                        <p class="no-data-label">Data none</p>
                                    <% } %>
                                </div>
                                <div class="wp">
                                    <p class="tag">등록직원</p>
                                    <% if(item.register_staff && item.register_staff.length > 0){ %>
                                        <a href=""><%= item.register_staff %></a>
                                    <% }else{ %>
                                        <p class="no-data-label">Data none</p>
                                    <% } %>
                                </div>
                                <div class="wp">
                                    <p class="tag">최근 수정일</p>
                                    <% if(item.modifyDate && item.modifyDate.length > 0){ %>
                                        <a href=""><%= item.modifyDate %></a>
                                    <% }else{ %>
                                        <p class="no-data-label">Data none</p>
                                    <% } %>
                                </div>
                                <div class="wp">
                                    <p class="tag">수정직원</p>
                                    <% if(item.modify_staff && item.modify_staff.length > 0){ %>
                                        <a href=""><%= item.modify_staff %></a>
                                    <% }else{ %>
                                        <p class="no-data-label">Data none</p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                       
    
                       
    
                    </div>
                </div>
                <div class="artist-work">
                    <h2>Work</h2>
                    <div class="wp">
                        <% item.artworkData.forEach((artwork)=>{ %>
                            <div class="img-description" onclick="location.href ='/admin/detail/artwork/<%= artwork._id %>'">
                                <% if(artwork.imgUrl[0]){ %>
                                    <img src="<%= artwork.imgUrl[0]  %>" alt=""> 
                                <% }else{ %>
                                    <p>작품 등록을 진행해주세요</p>
                                <% } %>

                                <p><%= artwork.name %></p>
                                <p><%= artwork.price %>원</p>
                            </div>   
                        <% }) %>
                 
                     
                    </div>
                   
                </div>
                <div class="artist-cv">
                    <ul class="education">
                        <h2>Education</h2>
                        <% if (item.education && item.education.length > 0) { %>
                            <% item.education
                                .sort((a, b) => new Date(b.date) - new Date(a.date))
                                .map((edu, i) => { %>
                                    <li>
                                        <p><%= edu.date %></p>
                                        <span><%= edu.school %></span>
                                    </li>
                            <% }) %>
                        <% } else { %>
                            <li><p class="no-data-label">Data none</p></li>
                        <% } %>
            
                    </ul>
                    <ul class="soloex">
                        <h2>Solo Exhibition</h2>

                        <% if (item.soloEx && item.soloEx.length > 0) { %>
                            <% item.soloEx
                                .sort((a, b) => new Date(b.date) - new Date(a.date))
                                .forEach((exhibition, i) => { %> <!-- map 대신 forEach 사용 -->
                                    <li>
                                        <p><%= exhibition.date %></p>
                                        <span><%= exhibition.exTitle %></span>
                                    </li>
                            <% }) %>
                        <% } else { %>
                            <li><p class="no-data-label">Data none</p></li>
                        <% } %>


                    </ul>
                    <ul class="groupex">
                        <h2>Group Exhibition</h2>

                        <% if(item.groupEx && item.groupEx.length > 0){ %>
                            <% item.groupEx.sort((a,b)=> new Date(b.date) - new Date(a.date)) 
                                .forEach((exhibition, i)=>{ %>
                                    <li>
                                        <p><%= exhibition.date %></p>
                                        <span><%= exhibition.exTitle %></span>                             
                                    </li>
                                <% }) %>
                        <% }else{ %>
                            <li><p class="no-data-label">Data none</p></li>
                        <% } %>

 
                    </ul>
                    <ul class="award">
                        <h2>Award</h2>
                        <% if(item.award && item.award.length > 0){ %>
                            <% item.award.map((awardItem, i)=>{ %>
                                <li>
                                    <p><%= awardItem.date %></p>
                                    <span><%= awardItem.exTitle %></span>   
                                </li>
                            <% }) %>
                        <% }else{ %>
                            <li><p class="no-data-label">Data none</p></li>
                        <%}%>
                    </ul>
                </div>
                <div class="artist-note">
                    <h2>ARTIST STATEMENT</h2>
                    <% if(item.artistNote && item.artistNote.length > 0){ %>
                        <p><%= item.artistNote %></p>
                    <% }else{ %>
                        <li><p class="no-data-label">Data none</p></li>
                    <% } %>
               
                </div>
                <div class="artist-note">
                    <h2>기타 사항</h2>
                    <% if(item.artistDescription && item.artistDescription > 0){ %>
                        <p><%= item.artistDescription %></p>
                    <% }else{ %>
                        <li><p class="no-data-label">Data none</p></li>
                    <% } %>

                </div>
            </div>
        <% }) %>


    </section>

</body>
</html>